html, body {
	width: 100px;
}

.button {
	margin: 3% auto;
	padding: 4px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	background-color: #FFBBAC;
	display: inline-block;
	transition-duration: 0.1s;
}

.button:hover {
	background-color: #FFB5A5;
}